@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald&display=swap');

/* DISEÑO DEL SCROLL*/

::-webkit-scrollbar {
	width: 0.6vw; /* THIS WILL RESET THE DEFAULT SCORLLBAR STYLING */
	background-color: #252525;
}

/* TO STYLE THE SCROLLBAR TRACK */
::-webkit-scrollbar-track {
	background-color: transparent; /* THIS WILL SET THE COLOR OF THE SCROLLBAR TRACK */
}

/* TO STYLE THE SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
	background-color: #3e3e3e;
}
